In [ ]:
# Code 1.3.3
# Gỡ và cài lại numpy + sweetviz tương thích
!pip uninstall -y numpy
!pip install numpy==1.26.4 sweetviz --quiet

Found existing installation: numpy 1.26.4
Uninstalling numpy-1.26.4:
  Successfully uninstalled numpy-1.26.4

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [ ]:
!pip install setuptools --upgrade

Requirement already satisfied: setuptools in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (80.9.0)

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [3]:
!pip install sweetviz

Requirement already satisfied: sweetviz in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from sweetviz) (2.1.4)
Requirement already satisfied: numpy>=1.16.0 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from sweetviz) (1.26.4)
Requirement already satisfied: matplotlib>=3.1.3 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from sweetviz) (3.10.7)
Requirement already satisfied: tqdm>=4.43.0 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from sweetviz) (4.67.1)
Requirement already satisfied: scipy>=1.3.2 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from sweetviz) (1.16.2)
Requirement already satisfied: jinja2>=2.11.1 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from sweetviz) (3.1.6)
Requirement already satisfied: importlib-resources>=1.2.0 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from sweetviz) (6.5.2)
Requirement already satisfied: MarkupSafe>=2.0 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from jinja2>=2.11.1->sweetviz) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (25.0)
Requirement already satisfied: pillow>=8 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/thylin05.github.io/.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [6]:
!pip install scikit-learn --quiet

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [7]:
import pandas as pd
import sweetviz as sv
from sklearn.model_selection import train_test_split

In [8]:
# Load the datasets
df = pd.read_csv('marketing_campaign.csv', sep='\t')
pd.set_option('display.max_columns', None)
print('Size of the dataset: ', df.shape)
df.head(5)

Size of the dataset:  (2240, 29)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [10]:
# Phân tích tự động
report = sv.analyze(df)

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:01 -> (00:00 left)

In [ ]:
# Xuất báo cáo ra file HTML
report.show_html("marketing_report.html")

Report marketing_report.html was generated.